<html>
  <head>
    <title>Eleventy Заглавное сообщение</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/images/icons/favicon.ico" />
    <link rel="stylesheet" href="{{ '/styles/global.css' | url }}">
    <link rel="stylesheet" href="{{ '/styles/prism.css' | url }}">
    <script>
      if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/service-worker.js");
    </script> 
  </head>

  <body>
    {% include "../components/header.njk" %}
    {{ content | safe }}
    <script src="/styles/prism.js"></script>
    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  </body>

</html>